.search-container, .search-button-container {
    padding: 0.5rem;
}

.search-container {
    background: url('search-background.webp') top/cover no-repeat border-box; 
    position: sticky;
    top: 0;
    border-bottom: 1px solid white;
    border-top: 1px solid #ab7500;
}
.search-input {
    border-radius: 12px;
    padding: 0.5rem;
    margin-left: 30px;
    margin-right: 30px;
    width: 150px;
}

#btn-search {
    border-radius: 10px;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background-color: #ab7500;
    border: 1px solid white;
    transition: transform .5s;
}

#btn-search:hover {
    cursor: pointer;
    transform: scale(1.25);
}

#btn-search:active {
    color: #ab7500;
    background-color: white;
    border: 1px solid #ab7500;
}

.sort-button {
    border: none;
    border-bottom: 1px solid white;
    background-color: unset;
    padding: 5px;
    margin: 10px;
    font-weight: bold;
    color: white;
}

.sort-button:hover {
    cursor: pointer;
}

.sort-button:focus {
    color: #ffc23e;
    border-bottom: 1px solid #ffc23e;
}

.sort-container {
    background-color: hsla(0, 0%, 0%, 0.416);
    margin-bottom: 5px;
    display: inline-flex;
    justify-content: center;
}