.search-container,
.search-button-container {
    padding: 0.5rem;
}

.search-container {
    background: url('search-background.webp') top/cover no-repeat border-box;
    position: sticky;
    top: 0;
    border-bottom: 1px solid white;
    border-top: 1px solid #ab7500;
}

.search-input {
    border-radius: 12px;
    padding: 0.5rem;
    margin: 5px 30px;
    width: 150px;
}

#btn-search {
    border-radius: 10px;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background-color: #ab7500;
    border: 1px solid white;
    transition: transform .5s;
}

#btn-search:hover {
    cursor: pointer;
    transform: scale(1.25);
}

#btn-search:active {
    color: #ab7500;
    background-color: white;
    border: 1px solid #ab7500;
}

input:placeholder-shown {
    font-style: italic;
}

.sort-container {
    background-color: hsla(0, 0%, 0%, 0.416);
    margin-bottom: 5px;
    display: inline-flex;
    justify-content: center;
    width: -webkit-fill-available;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    height: 100%;
    padding-top: 20px;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: white;
    padding: 20px;
    width: 30%;
    transform: translate(100%, 0);
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.sort-container button {
    border: none;
    border-bottom: 1px solid white;
    background-color: unset;
    padding: 5px;
    margin: 10px;
    font-weight: bold;
    color: white;
}

.sort-container button:hover {
    cursor: pointer;
}

.sort-container button:focus {
    color: #ffc23e;
    border-bottom: 1px solid #ffc23e;
}

.sort-container button.active {
    color: #ffc23e;
    border-bottom: 1px solid #ffc23e;
}